.giffy{
    padding: 20px;
    background-color: black;
}

.container1{
    display: flex;
    /* align-content: end; */
    /* align-items: right; */
    /* justify-content: flex-end; */
    /* margin-left: ; */

    gap: 50px;
    padding: 10px;
}

.btn{
    padding: 10px 40px;
    background-color: #eee;
    border-radius: 5px;
    border: 2px solid #ccc;
    color: #222;
    /* font-variant: small-caps; */
}

.gif-container{
    width: 700px;
    /* background-color: black; */
}

.gif-content .img{
    background-color: #cecece;
    width: 100%;
}

.content{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
}

.content p{
    font-size: 8px;
}

.star{
    padding: 2px;
}