.giffy{
    padding: 20px;
    background-color: black;
}

.container1{
    display: flex;
    /* align-content: end; */
    /* align-items: right; */
    /* justify-content: flex-end; */
    /* margin-left: ; */

    gap: 50px;
    padding: 10px;
}

.btn{
    padding: 10px 40px;
    background-color: #eee;
    border-radius: 5px;
    border: 2px solid #ccc;
    color: #222;
    /* font-variant: small-caps; */
}